In [18]:
import string
import pandas as pd

data = pd.read_csv('final_dataset2.csv')
data.head()

   Rating                                            Reviews  Review Votes
0       5  i feel so lucky to have found this used phone ...           1.0
1       1  i already had a phone with problems i know it ...           1.0
2       5  these guys are the best i had a little situati...           2.0
3       1  im really disappointed about my phone and serv...           1.0
4       5  ordered this phone as a replacement for the sa...           1.0

In [10]:
sum(data['Reviews'].isnull())

0

In [11]:
data.reset_index(inplace=True)

In [12]:
cleaned_reviews = []
for review in data['Reviews']:
    temp1 = review.translate(str.maketrans("","",string.punctuation))
    temp2 = temp1.lower()
    cleaned_reviews.append(temp2)
print('Program finished!')

Program finished!

In [13]:
data.loc[:,'Reviews'] = cleaned_reviews

In [16]:
data.head()

   Rating                                            Reviews  Review Votes
0       5  i feel so lucky to have found this used phone ...           1.0
1       1  i already had a phone with problems i know it ...           1.0
2       5  these guys are the best i had a little situati...           2.0
3       1  im really disappointed about my phone and serv...           1.0
4       5  ordered this phone as a replacement for the sa...           1.0

In [15]:
data.drop('index',axis=1,inplace=True)

In [17]:
data.to_csv('final_dataset2.csv',index=False)